@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-fuchsia-900: theme('colors.fuchsia.900');
  --color-indigo-900: theme('colors.indigo.900');
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply antialiased bg-zinc-900
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */;
}

.absolute-center {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.login-text {
  @apply text-fuchsia-500 text-3xl font-semibold font-geist;
}

.user-input-text {
  @apply text-zinc-200 font-mono font-semibold text-2xl;
}

.user-input-text-light {
  @apply caret-black text-zinc-700 font-mono font-semibold text-2xl;
}

.user-input-bg {
  @apply bg-zinc-700 rounded p-2 outline-none focus:outline focus:outline-fuchsia-500/50;
}

.user-input-bg-light {
  @apply bg-zinc-200 rounded p-2 outline-none focus:outline focus:outline-fuchsia-300/50;
}

.bg-purple-pink {
  @apply bg-gradient-to-r from-purple-500 to-pink-500 rounded-lg;
}

.font-set-title {
  @apply text-blue-500 text-lg md:text-3xl lg:text-4xl font-geist font-semibold;
}
